Source: ice-utility
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: cmake,
               debhelper (>=9),
               extra-cmake-modules,
               libkf5config-dev,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/plasma-extensions/ice-utility

Package: ice-utility
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: small utility like peppermint ice
 This package contains the files for ice-utility
